* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "JetBrains Mono", cursive;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

.w3-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo-img > img {
    width: 120px;
}

main > .auth_form {
    padding: 16px;
    align-content: center;
    width: 40%;
    font-family: "JetBrains Mono", cursive;
}

main > .other_form {
    width: 100%;
    font-family: "JetBrains Mono", cursive;
}

form > input {
    width: 300px
}

.h2 {
    margin: 20px 0;
}


.homepage {
    min-height: calc(100vh - 130px);
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.homepage-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.homepage > div > h1, p, i {
    font-family: "JetBrains Mono", cursive;
}

body > main > div > div > p > i > b {
    font-family: "JetBrains Mono", cursive;
}


.w3-sidebar {
    z-index: 1001;
}

.w3-overlay {
    z-index: 1000;
}

.cards {
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "JetBrains Mono", cursive;
}