* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "JetBrains Mono", cursive;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

.w3-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo-img > img {
    width: 120px;
}

main > .auth_form {
    padding: 16px;
    align-content: center;
    width: 40%;
    font-family: "JetBrains Mono", cursive;
}

main > .other_form {
    width: 100%;
    font-family: "JetBrains Mono", cursive;
}

form > input {
    width: 300px
}

.h2 {
    margin: 20px 0;
}

body > main > div > div.w3-third.w3-display-container > div{
    margin-left: 400px;
}

.homepage > div > h1, p, i {
    font-family: "JetBrains Mono", cursive;
}

body > main > div > div > p > i > b {
    font-family: "JetBrains Mono", cursive;
}

.testimonials-container {
    display: flex;
    flex-wrap: wrap; /* Wraps testimonials to new lines */
    gap: 30px; /* Space between testimonials */
    justify-content: center; /* Centers testimonials in the container */
    width: 100%;
}

.testimonial {
    width: 300px; /* Fixed width for equal size */
    height: 200px; /* Fixed height for equal size */
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto; /* Adds scroll if text overflows */
}

.author {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}


.w3-sidebar {
    z-index: 1001;
}

.w3-overlay {
    z-index: 1000;
}

.cards {
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "JetBrains Mono", cursive;
}
