{% extends 'base.html' %}
{% block content %}

    <form class="w3-round w3-light-grey w3-padding-large other_form" method="post"
          action="{% url 'edit post' pk=posts.pk %}">

        <h2 class="w3-text-blue-gray w3-center">Редактиране на публикация</h2>

        {% csrf_token %}
        <p>
            <label class="w3-text-black"><b>Заглавие</b></label><br>
            {{ form.title }}
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                    <span class="w3-text-red w3-small">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </p>

        <p>
            <label class="w3-text-black"><b>Описание</b></label><br>
            {{ form.description }}
            {% if form.description.errors %}
                {% for error in form.description.errors %}
                    <span class="w3-text-red w3-small">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </p>

        <p>
            <label class="w3-text-black"><b>Животно</b></label><br>
            {{ form.pet_type }}
            {% if form.pet_type.errors %}
                {% for error in form.pet_type.errors %}
                    <span class="w3-text-red w3-small">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </p>

        <p>
            <label class="w3-text-black"><b>Тип на обява</b></label><br>
            {{ form.post_type }}
            {% if form.post_type.errors %}
                {% for error in form.post_type.errors %}
                    <span class="w3-text-red w3-small">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </p>

        <p>
            <label class="w3-text-black"><b>Телефон за връзка</b></label><br>
            {{ form.contact_info }}
            {% if form.contact_info.errors %}
                {% for error in form.contact_info.errors %}
                    <span class="w3-text-red w3-small">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </p>

        <p>
            <label class="w3-text-black"><b>URL снимка</b></label><br>
            {{ form.image }}
            {% if form.image.errors %}
                {% for error in form.image.errors %}
                    <span class="w3-text-red w3-small">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </p>
        <p>
            <label class="w3-text-black"><b>Регион</b></label><br>
            {{ form.region }}
            {% if form.region.errors %}
                {% for error in form.region.errors %}
                    <span class="w3-text-red w3-small">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </p>
        <p>
            <label class="w3-text-black"><b>Статус</b></label><br>
            <select name="is_active" class="w3-select">
                <option value="True" {% if form.instance.is_active %}selected{% endif %}>Активна</option>
                <option value="False" {% if not form.instance.is_active %}selected{% endif %}>Неактивна</option>
            </select>
        </p>

        <div class="w3-center w3-margin-top">
            <button id="back-btn"
                    class="w3-button w3-round-large w3-cyan w3-text-light-grey w3-hover-text-black w3-hover-cyan">
                Назад
            </button>
            <button class="w3-button w3-round-large w3-teal w3-text-light-grey w3-hover-text-black w3-hover-teal"
                    type="submit">Запази
            </button>
        </div>
        </form>
    
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const referrer = document.referrer;
        
        if (referrer.includes('posts/post/')) {
            const postID = "{{ posts.id }}";
            const address = '/posts/post/' + postID + '/';
            sessionStorage.setItem('previousPage', address);
        } else {
            sessionStorage.setItem('previousPage', '/posts/my-posts/');
        }

        const backButton = document.getElementById('back-btn');

        if (backButton) {
            backButton.addEventListener('click', function (event) {
                event.preventDefault();
                const previousPage = sessionStorage.getItem('previousPage');

                if (previousPage) {
                    window.location.href = previousPage;
                    sessionStorage.removeItem('previousPage');
                } else {
                    window.location.href = '/posts/my-posts/';
                }
            });
        }
    });
</script>

{% endblock %}
