{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
        <form class="w3-card-4 w3-round w3-light-grey w3-padding-large other_form" method="post"
              action="{% url 'change password' request.user.pk %}">
            <h2 class="w3-text-blue-gray w3-center">Change Password</h2>

            {% csrf_token %}

            <p>
                <label class="w3-text-black"><b>Old Password</b></label><br>
                <input class="w3-input w3-border w3-margin-bottom w3-light-grey" type="password" name="old_password"
                       placeholder="Enter your old password" autocomplete="current-password">

                {% if form.old_password.errors %}
                    {% for error in form.old_password.errors %}
                        <span class="w3-text-red w3-small">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </p>

            <p>
                <label class="w3-text-black"><b>New Password</b></label><br>
                <input class="w3-input w3-border w3-margin-bottom w3-light-grey" type="password" name="new_password1"
                       placeholder="Enter your new password" autocomplete="new-password">

                {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                        <span class="w3-text-red w3-small">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </p>

            <p>
                <label class="w3-text-black"><b>Confirm New Password</b></label><br>
                <input class="w3-input w3-border w3-margin-bottom w3-light-grey" type="password" name="new_password2"
                       placeholder="Confirm your new password" autocomplete="new-password">

                {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                        <span class="w3-text-red w3-small">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </p>

            <div class="w3-center">
                <a class="w3-button w3-round-large w3-cyan w3-text-light-grey w3-hover-text-black w3-hover-cyan"
                   style="width:20%"
                   href="{{ request.META.HTTP_REFERER|default:'/'|escape }}">Cancel</a>
                <button type="submit"
                        class="w3-button w3-round-large w3-teal w3-text-light-grey w3-hover-text-black w3-hover-teal"
                        style="width:20%">
                    Yes
                </button>
            </div>
        </form>
    {% else %}
        <script type="text/javascript">window.location.href = "{% url 'index' %}";</script>
    {% endif %}

{% endblock %}
