{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <form class="w3-card-4 w3-round w3-display-middle w3-text-blue-gray auth_form" method="post"
              action="{% url 'delete profile' user.pk %}">
            {% csrf_token %}
            <h2 class="w3-center">Сигурни ли сте, че искате за изтриете Вашия профил?</h2>
            <p class="w3-text-black w3-center">
                Моля, имайте предвид че ако изтриете профила си, всички ваши публикации също ще бъдат изтрити!
            </p>
            <div class="w3-center">
                <a class="w3-button w3-round-large w3-cyan w3-text-light-grey w3-hover-text-black w3-hover-cyan"
                   style="width:10%"
                   href="{{ request.META.HTTP_REFERER|default:'/'|escape }}">Отказ</a>
                <button type="submit"
                        class="w3-button w3-round-large w3-teal w3-text-light-grey w3-hover-text-black w3-hover-teal"
                        style="width:10%">
                    Да
                </button>
            </div>
        </form>
    {% else %}
        <script type="text/javascript">
            window.location.href = "{% url 'index' %}";
        </script>
    {% endif %}

{% endblock %}
