{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <form class="w3-card-4 w3-round w3-light-grey w3-padding-large other_form" method="post"
              action="{% url 'edit profile' request.user.pk %}">
            <h2 class="w3-text-blue-gray w3-center">Редактиране на профил</h2>

            {% csrf_token %}

            <p>
                <label class="w3-text-black"><b>Име</b></label><br>
                <input class="w3-input w3-border w3-light-grey" type="text" name="first_name"
                       value="{{ form.first_name.value|default_if_none:'' }}" placeholder="First Name">
                {% if form.first_name.errors %}
                    {% for error in form.first_name.errors %}
                        <span class="w3-text-red w3-small">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </p>

            <p>
                <label class="w3-text-black"><b>Фамилия</b></label><br>
                <input class="w3-input w3-border w3-light-grey" type="text" name="last_name"
                       value="{{ form.last_name.value|default_if_none:'' }}" placeholder="Last Name">
                {% if form.last_name.errors %}
                    {% for error in form.last_name.errors %}
                        <span class="w3-text-red w3-small">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </p>

            <p>
                <label class="w3-text-black"><b>Email</b></label><br>
                <input class="w3-input w3-border w3-light-grey" type="email" name="email"
                       value="{{ form.email.value|default_if_none:'' }}" placeholder="Email">
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span class="w3-text-red w3-small">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </p>

            <p>
                <label class="w3-text-black"><b>Profile Picture URL</b></label><br>
                <input class="w3-input w3-border w3-light-grey" type="url" name="profile_picture"
                       value="{{ form.profile_picture.value|default_if_none:'' }}" placeholder="Profile Picture URL">
                {% if form.profile_picture.errors %}
                    {% for error in form.profile_picture.errors %}
                        <span class="w3-text-red w3-small">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </p>
            <div class="w3-center">
                <button class="w3-button w3-round-large w3-blue-gray w3-text-light-grey w3-hover-text-black w3-hover-blue-gray"
                        type="submit">Запази
                </button>
            </div>
        </form>
    {% else %}
        <script type="text/javascript">window.location.href = "{% url 'index' %}";</script>
    {% endif %}

{% endblock %}