{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
        <script type="text/javascript">window.location.href = "{% url 'index' %}";</script>
    {% else %}
        <form class="w3-card-4 w3-round w3-display-middle w3-light-grey auth_form" method="post"
              action="{% url 'login' %}">
            <h2 class="w3-text-blue-gray w3-center">Вход</h2>
            {% csrf_token %}
            <p>
                {% if messages %}
                    <div class="w3-container w3-padding">
                        {% for message in messages %}
                            <div class="w3-panel w3-pale-blue w3-leftbar w3-border-light-blue">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </p>
            <p>
                <label class="w3-text-black"><b>Потребителско име</b></label><br>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="w3-text-red w3-small">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span><br>
                        {% endfor %}
                    </div>
                {% endif %}
            </p>

            <p>
                <label class="w3-text-black"><b>Парола</b></label><br>
                {{ form.password }}

                {% if form.password.errors %}
                    <div class="w3-text-red w3-small">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span><br>
                        {% endfor %}
                    </div>
                {% endif %}
            </p>

            <p>Ако все още нямате акаунт, <a href="{% url 'register' %}" style="color:dodgerblue">Регистрация</a></p>
            <p class="w3-center">
                <button class="w3-button w3-round-large w3-blue-gray w3-text-light-grey w3-hover-text-black w3-hover-blue-gray w3-margin-top"
                        type="submit">Вход
                </button>
            </p>
        </form>
    {% endif %}
{% endblock %}
