{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
        <script type="text/javascript">window.location.href = "{% url 'index' %}";</script>
    {% else %}
        <form class="w3-card-4 w3-round w3-display-middle w3-light-grey auth_form" method="post"
              action="{% url 'register' %}">
            <h2 class="w3-text-blue-gray w3-center">Регистрация</h2>

            {% csrf_token %}
            <p>
                <label class="w3-text-black"><b>Потребителско име</b></label><br>
                {{ form.username }}
            
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <span class="w3-text-red w3-small">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </p>

            <p>
                <label class="w3-text-black"><b>Email</b></label><br>
                {{ form.email }}

                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span class="w3-text-red w3-small">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </p>

            <p>
                <label class="w3-text-black"><b>Парола</b></label><br>
                {{ form.password1 }}

                {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                        <span class="w3-text-red w3-small">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </p>

            <p>
                <label class="w3-text-black"><b>Потвърдете паролата</b></label><br>
                {{ form.password2 }}

                {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                        <span class="w3-text-red w3-small">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </p>

            <p>Ако вече имате акаунт, <a href="{% url 'login' %}" style="color:dodgerblue">Вход</a></p>
            <p class="w3-center">
                <button class="w3-button w3-round-large w3-blue-gray w3-text-light-grey w3-hover-text-black w3-hover-blue-gray w3-margin-top"
                        type="submit">Регистрация
                </button>
            </p>
        </form>
    {% endif %}
{% endblock %}
