{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>PawsSearch</title>
</head>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-border w3-blue-gray w3-padding">
    <a class="w3-left logo-img" href="{% url 'index' %}">
        <img src="{% static 'images/logo-2.png' %}" alt="image">
    </a>

    {% if request.user.is_authenticated %}
        <a href="javascript:void(0)"
           class="w3-bar-item w3-button w3-hover-none w3-text-light-grey w3-hover-text-black w3-right w3-large"
           onclick="openSidebar()">Профил</a>
    {% else %}
        <a href="{% url 'login' %}"
           class="w3-bar-item w3-button w3-hover-none w3-text-light-grey w3-hover-text-black w3-right w3-large">Вписване</a>
        <div id="login-modal-container"></div>
    {% endif %}

    <a href="{% url 'all article' %}"
       class="w3-bar-item w3-button w3-hover-none w3-text-light-grey w3-hover-text-black w3-right w3-large">Статии</a>
    <a href="{% url 'all active posts' %}"
       class="w3-bar-item w3-button w3-hover-none w3-text-light-grey w3-hover-text-black w3-right w3-large">Публикации</a>
</div>

<!-- Page Content -->
<main>
    {% block content %}

    {% endblock %}
</main>

<!-- Sidebar-->
{% if user.is_authenticated %}
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-right w3-blue-gray"
         style="display:none; right:0; top:0; position:fixed; height:100%; width:300px; z-index:1001;" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large w3-hover-none w3-text-light-grey w3-hover-text-black w3-large w3-right"
                onclick="closeSidebar()"> &times;
        </button>
        <div class="w3-bar-item w3-text-light-grey w3-center w3-border-bottom">
            {% if request.user.profile_picture %}
                <img src="{{ request.user.profile_picture }}" alt="Avatar" class="w3-circle" style="width:50%">
            {% else %}
                <img src="{% static 'images/img_avatar.jpg' %}" alt="Avatar" class="w3-circle" style="width:50%">
            {% endif %}
            <p class="w3-large">Здравей, {{ request.user.full_name }}</p>
        </div>
        <a href="{% url 'create post' %}"
           class="w3-bar-item w3-button w3-hover-none w3-text-light-grey w3-hover-text-black w3-right w3-large">Нова
            публикация</a>
        <a href="{% url 'user posts' %}"
           class="w3-bar-item w3-button w3-hover-none w3-text-light-grey w3-hover-text-black w3-right w3-large">Моите
            публикации</a>
        <a href="{% url 'followed posts' %}"
           class="w3-bar-item w3-button w3-hover-none w3-text-light-grey w3-hover-text-black w3-right w3-large">Последвани
            публикации</a>
        <a href="{% url 'edit profile' request.user.pk %}"
           class="w3-bar-item w3-button w3-hover-none w3-text-light-grey w3-hover-text-black w3-right w3-large">Редактиране
            на акаунта</a>
        <a href="{% url 'change password' request.user.pk %}"
           class="w3-bar-item w3-button w3-hover-none w3-text-light-grey w3-hover-text-black w3-right w3-large">Смяна на
            паролата</a>
        <a href="{% url 'delete profile' request.user.pk %}"
           class="w3-bar-item w3-button w3-hover-none w3-text-light-grey w3-hover-text-black w3-right w3-large">
            Изтриване на акаунта
        </a>
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit"
                    class="w3-bar-item w3-button w3-hover-none w3-text-light-grey w3-hover-text-black w3-right w3-large">
                Отписване
            </button>
        </form>
    </div>
{% endif %}


<!-- Overlay -->
<div id="myOverlay" class="w3-overlay" style="display:none; z-index:1000;" onclick="closeSidebar()"></div>


<!-- Footer -->
<footer class="w3-container w3-center w3-blue-gray w3-padding-large">
    <h8 class="w3-right">Made by msokollova</h8>
</footer>

<script src="{% static 'scripts/functions.js' %}"></script>
</body>
</html>
