{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="w3-equal-height"
         style="display: flex; flex-direction: column; flex-wrap: wrap; align-content: center; justify-content: center; align-items: stretch; width: 100%;">

        <div class="w3-third w3-display-container"
             style="display: flex; align-items: center; justify-content: center; background-image: url('{% static 'images/section1.jpg' %}'); background-size: cover; color: white; height: 550px; width: 100%">
            <div class="w3-center">
                <span style="font-size:100px">&#10077;</span><br>
                <p class="w3-xlarge">
                    <b>Можем да съдим какво е сърцето на човек по отношението му към животните.<br>- И. Кан</b>
                </p>
            </div>
        </div>

        <div class="w3-third w3-light-grey"
             style="display: flex; align-items: center; justify-content: center; padding: 20px;width: 100%">
            <div class="w3-center" style="width: 100%;">
                <h2 class="w3-text-blue-gray">Какво казват нашите потребители:</h2>
                <div class="testimonials-container">
                    <div class="testimonial w3-white">
                        <p>"Тук намерих нов приятел, благодаря на PawsSearch!"</p>
                        <p class="author">- Иван</p>
                    </div>
                    <div class="testimonial w3-white">
                        <p>"Отлично място за свързване с любители на животни."</p>
                        <p class="author">- Мария</p>
                    </div>
                    <div class="testimonial w3-white">
                        <p>"Благодаря на PawsSearch, че ми помогна да намеря дом за моя любимец!"</p>
                        <p class="author">- Георги</p>
                    </div>
                </div>


                {% if user.is_authenticated %}
                    <div class="w3-margin-top">
                    <form action="{% url 'submit_testimonial' %}" method="post">
                        {% csrf_token %}
                        <label for="testimonial" class="w3-large w3-text-blue-gray">Споделете вашето мнение:</label>
                        <textarea type="text" name="testimonial" id="testimonial"
                                  class="w3-input w3-border w3-round-large w3-margin-top"
                                  style="margin-top: 10px; width: 60%; margin: auto;word-wrap: break-word; white-space: pre-wrap;"
                                  placeholder="Вашето мнение..."></textarea>
                        <button type="submit"
                                class="w3-button w3-round-large w3-blue-gray w3-text-light-grey w3-hover-text-black w3-hover-blue-gray w3-margin-top">
                            Изпрати
                        </button>
                    </form>
                {% else %}
                    <p>Ако и Вие искате да споделите с нас какво мислите, моля <a href="{% url 'login' %}">влезте</a> в
                        профила си.</p>
                {% endif %}
                </div>

            </div>
        </div>

        <div class="w3-third w3-light-grey"
             style="display: flex; align-items: center; justify-content: center; background-color: #f5f5f5; width: 100%">
            <div class="w3-center">
                <h2 class="w3-text-blue-gray">Открийте още:</h2>
                <div style="display: flex; flex-direction: row;margin-bottom: 16px">
                    <div class="w3-display-container">
                        <a href="{% url 'all active posts' %}">
                            <img src="{% static 'images/posts_button.png' %}" alt="Posts"
                                 class="w3-image w3-round-large w3-hover-opacity"
                                 style="width:80%; max-width:300px; margin:10px;">
                        </a>
                        <div class="w3-container w3-xlarge w3-text-blue-gray">Публикации</div>
                    </div>
                    <div class="w3-display-container">
                        <a href="{% url 'all article' %}">
                            <img src="{% static 'images/articles_button.png' %}" alt="Articles"
                                 class="w3-image w3-round-large w3-hover-opacity"
                                 style="width:80%; max-width:300px; margin:10px;">
                        </a>
                        <div class=" w3-container w3-xlarge w3-text-blue-gray">Статии</div>
                    </div>
                    <div class="w3-display-container">
                        <a href="{% url 'all donations' %}">
                            <img src="{% static 'images/charity_button.png' %}" alt="Donations"
                                 class="w3-image w3-round-large w3-hover-opacity"
                                 style="width:80%; max-width:300px; margin:10px;">
                        </a>
                        <div class=" w3-container w3-xlarge w3-text-blue-gray">Дарения</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
